<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">We also deal with</h5>
        <ul>
          <li>• Accounting Solutions (GST/ITR/Auditing/Project Financing etc.)</li>
          <li>• IT Solutions (Hardware,Software,CCTV/Intercom installation)</li>
          <li>• Legal Solutions</li>
          <li>• Civil Work related to MAP development</li>
          <li>• Manpower Consultancy</li>
        </ul>
      </div>
      <div class="col l6">
        <h5>Kaushal Kislay</h5>
        <ul>
          <li>Contact Number: +91-9955923071</li>
          <li>Email ID: kaushalkislay@gmail.com</li>
          <li>Address: West Patel Nagar, Patna</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Developed by <a class="brown-text text-lighten-3" target="_blank" href="https://instagram.com/ravsourabh">Rav Sourabh</a>
    </div>
  </div>
</footer>