<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo hide-on-med-and-down"><img align="center" src="/assets/images/logo.png" height="50px" alt="Brand logo"><!-- <span align="center">Kaushal Kislay</span> --></a>

    <a id="logo-container" href="/" class="brand-logo"><img align="center" src="/assets/images/logo.png" height="55px" alt="Brand logo"></a>

    <ul class="right hide-on-med-and-down">
    {% for item in site.data.navigation %}
          <li {% if page.url == item.link %}class="active"{% endif %}>
            <a href="{{ item.link }}">
              {{ item.name }}
            </a>
          </li>
    {% endfor %}
    </ul>

    <!-- <ul id="nav-mobile" class="sidenav">
      {% for item in site.data.navigation %}
        <li {% if page.url == item.link %}class="active"{% endif %}>
          <a href="{{ item.link }}">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
  </div>
</nav>